<header>
  <h1>Invite a Facilitator</h1>
  <p>Facilitators can only manage the locations you assign them to.</p>
</header>

<%= simple_form_for [@organization, @invite] do |invite| %>

  <%= invite.input :email %>

  <%= invite.association :locations, collection: locations, as: :check_boxes,
  label_method: lambda { |location| "<span class='check'></span><span class='location-name'>#{location.name}</span>".html_safe },
  value_method: :id, label: "Locations to Manage", required: true %>

  <%= invite.button :submit, 'Send Invite', class: "primary-button" %>

<% end %>
