<section class="chart">
  <%= render 'dashboard/admin/chart' %>
</section>

<div class="dashboard-container">
  <section class="key-stats">
    <header>
      <h1>Organization Overview</h1><span class="time-frame">- Last 4 weeks</span>
    </header>
    <%= render 'dashboard/admin/key_stats' %>
  </section>

  <section class="locations">
    <h1>Locations</h1>
    <%= render 'dashboard/admin/locations' %>
  </section>

  <section class="facilitators">
    <h1>Facilitators</h1>
    <%= render 'dashboard/admin/facilitators' %>
  </section>
</div>
