<header>
<h1><%= @admin.organization.name %></h1>
<p>Member since <%= @admin.member_since %></p>
</header>

<section class="waste_collected">
  <h1>Waste Collected</h1>
  <p><%= @admin.weekly_scraps %></p>
</section>

<section class="visits">
  <h1>Visits</h1>
  <p><%= @admin.weekly_visits %></p>
</section>
