.admins-new{
  background: $light-gray;

  .main-content{
    background: none;
    margin: 50px auto 0;
    width: 500px;

    header{
      height: 200px;

      a{
        display: block;
      }

      img{
        display: block;
        height: auto;
        margin: 0 auto;
        height: 200px;
        width: auto;
      }
    }

    input{
      margin-bottom: 5px;

      &.primary-button{
        margin-top: 10px;
      }
    }

    h1{
      font-size: 1.75em;
      margin-bottom: 5px;
    }

    .top-bar{
      display: none;
    }
  }
}
