.locations-show{

  .add-scraps{
    display:block;
    margin-top: .5em;
    text-align: center;
  }

  .location-content{
    padding: 0 2em;

    header{
    }

    .location-info{
      margin-top: 1em;

      section{
        background: white;
        border: 1px solid $light-gray;
        color: $medium-gray;
        margin-top: 1em;
        padding: 1em;

        h3{
          border-bottom: 1px solid $light-gray;
          font-size: 1.25em;
          padding-bottom: .25em;
        }

        h4{
          font-size: 1em;
          font-weight: bold;
          margin-top: .5em;
        }
        p{
          font-size: 1em;
        }
      }
    }

    h1{
      margin-top: 10px;
      text-align: center
    }

    h2{
      font-size: 1.25em;
      text-align: center
    }

    section{
      float: left;
      width: 48%;

      &.facilitators{
        margin-left: 4%;
      }
    }
  }

  #map{
    height: 300px;
    width: 100%; height: 300px;
  }
}

