<h1><%= @facilitator.name %></h1>

<ul class="locations">
  <% @locations.each do |location| %>
    <li><h2><%= location.name %></h2></li>
  <% end %>
  <% if current_user.has_role?('Admin') %>
    <li><%= link_to "Add Location", edit_organization_facilitator_path(current_organization, @facilitator) %></li>
  <% end %>
</ul>

