<ul>
  <% @clients.each do |client| %>
  <li>
    <h2><%= link_to client.username, client_path(client) %></h2>
    <div class="actions">
      <%= link_to 'Add Credits', new_client_credit_path(client), class: 'primary-button' %>
      <%= link_to 'Redeem Credits', redeem_credits_path(client), class: 'secondary-button' %>
    </div>
  </li>
  <% end %>
</ul>
