.locations{
  .main-content{
    padding: 0;
  }
}

.main-content{
  background: #eee;
  padding: 8em 4em 0;
  height:100%;

  .primary-button{
    @include button($brand-green);
    padding: .60em 1em;
  }
  .secondary-button{
    @include button($brand-teal);
    padding: .60em 1em;
  }
}

.signed-in{
  margin-left: 250px;
}

