.side-nav {
  background: #304656;
  height: 100%;
  position: absolute;
  width: 250px;

  .logo{
    margin-top: 15px;
    height: 50px;
    width: 100%;

    a{
      display: block;
      margin: 0 auto;
      width: 150px;
    }

    img{
      height: auto;
      margin: 0 auto;
      width: 100%;
    }
  }

  ul.nav-user{
    margin: 1em 0 0 0;
    text-align: center;

    li{
      margin: 0;

      &:first-child{
        font-size: 1.15em;

        a{
          color: white;
        }
      }

      &:nth-child(2){
        color: lighten($blue-gray, 30);
        font-size: .9em;
      }
    }

  }

  ul.nav-actions{
    margin-left: 1em;
    overflow: hidden;
    width: 225px;

    li{
      color: white;
      margin: 1em 0;

      &.invites{
        color: white;
        line-height: 1.3em;

        ul{
          li{
              color: lighten($blue-gray, 30);
              font-size: .8em;
              font-style: italic;
              margin: 0;
          }
        }
      }

      .nav-title{
        color: white;
        font-size: 1.25em;

        a{
          color: white;
        }
      }
      a{
        color: lighten($blue-gray, 30);

        &:hover{color: lighten($blue-gray, 60);}
      }
      ul{

        li{
          font-size: .9em;
          margin: 0 0 0 1em;
        }
      }
    }
  }
}
