.side-nav {
  background: $blue-gray;
  height: 100%;
  position: absolute;
  width: 250px;

  .logo{
    margin-top: 15px;
    height: 50px;
    width: 100%;

    a{
      display: block;
      margin: 0 auto;
      width: 150px;
    }

    img{
      height: auto;
      margin: 0 auto;
      width: 100%;
    }
  }

  ul.nav-user{
    margin: 1em 0 0 0;
    text-align: center;

    li{
      margin: 0;

      &:first-child{
        font-size: 1.15em;

        a{
          color: white;
        }
      }

      &:nth-child(2){
        font-size: .9em;

        a{
          color: lighten($blue-gray, 30);
        }
      }

      a{

        &.current{
            color: $brand-green;
        }
      }
    }
  }

  ul.nav-actions{
    margin-left: 1em;
    overflow: hidden;
    width: 225px;

    li{
      color: white;
      margin: 1em 0;

      &.invites{
        color: white;
        line-height: 1.3em;
        margin-top: 7px;

        ul{
          li{
              color: lighten($blue-gray, 30);
              font-size: .8em;
              font-style: italic;
              margin: 0;
          }
        }
      }

      &.locations{

        li{
          height: 20px;
          position: relative;

          a{
            display: inline-block;
            width: 100%;

            &.edit{
              display: block;
              height: 18px;
              right: 10px;
              top: 0;
              position: absolute;
              text-align: center;
              width: 18px;
            }
          }
        }
      }

      .nav-title{
        color: white;
        font-size: 1.25em;

        a{
          color: white;
        }

        &.current{
          color: $brand-green;
        }
      }
      a{
        color: lighten($blue-gray, 30);

        &:hover{
          color: lighten($blue-gray, 60);
        }

        &.current{
            color: $brand-green;
        }
      }
      ul{

        li{
          font-size: .9em;
          margin: 0 0 0 1em;
        }
      }
    }
  }

  &.no-locations{

    .clients{

      a{
        color: lighten($blue-gray, 10);

        &:hover{
          color: lighten($blue-gray, 10);
        }
      }

      .nav-title{
        color: lighten($blue-gray, 10);

        a{
          color: lighten($blue-gray, 10);
        }
      }
    }

    .facilitators{

      a{
        color: lighten($blue-gray, 10);

        &:hover{
          color: lighten($blue-gray, 10);
        }
      }

      .nav-title{
        color: lighten($blue-gray, 10);

        a{
          color: lighten($blue-gray, 10);
        }
      }

      ul{

        li.invites{
          color: lighten($blue-gray, 10);

          ul{

            li{
              color: lighten($blue-gray, 10);
            }
          }
        }
      }
    }

    .locations{

      .nav-title{
        position: relative;

        a.new{
          background: $brand-teal;
          border-radius: 5px;
          display: block;
          height: 22px;
          top: 3px;
          position: absolute;
          right: -30px;
          text-align: center;
          width: 22px;
        }
      }
    }
  }
  &.no-facilitators{

    .facilitators{

      .nav-title{
        position: relative;

        a.new{
          background: $brand-teal;
          border-radius: 5px;
          display: block;
          height: 22px;
          top: 3px;
          position: absolute;
          right: -30px;
          text-align: center;
          width: 22px;
        }
      }
    }
  }
}

