.clients-index{

  .clients-list{

    li{
      border-bottom: 1px solid #ccc;
      display: block;
      height: 65px;
      margin: 0 0 10px 0;

      .client-info{
        margin-left: 10px;
        padding-top: 10px;

        .actions{
          float: right;
          padding: 0;
        }
      }
    }
  }

  h2{
    display:inline-block;
  }
}
