.clients-index{

  .clients-list{
    background: white;

    li{
      border: 1px solid $light-gray;
      display: block;
      margin: 0 0 10px 0;
      padding: 1em;

      &:first-child{
        margin-top: 1em;
      }

      .client-info{
        margin-left: 10px;

        .actions{
          float: right;
          padding: 0;
        }
      }
    }
  }

  h2{
    display:inline-block;
  }
}
