<header>
<h1>Add Scraps</h1>
</header>

<%= simple_form_for [client, @debit] do |debit| %>
  <%= debit.input :value, label: 'Credits to Redeem', required: true, type: :integer %>
  <%= debit.button :submit, 'Redeem', class: "primary-button" %>
<% end %>
