<div class="scraps-collected data-container">
  <div class="number-container">
    <span class="data"><%= @admin.weekly_scraps %></span> <span class="unit">lbs.</span>
  </div>
  <span class="title">Scraps Collected</span>
</div>
<div class="new-clients data-container">
  <div class="number-container">
    <span class="data"><%= @admin.credits_redeemed %></span>
  </div>
  <span class="title">Credits Redeemed</span>
</div>
<div class="new-clients data-container">
  <div class="number-container">
    <span class="data"><%= @admin.client_signups %></span>
  </div>
  <span class="title">New Clients</span>
</div>
