<div class="scraps-collected data-container">
  <span class="title">Scraps Collected</span>
  <div class="number-container">
    <p><span class="data"><%= @admin.weekly_scraps %></span> <span class="unit">lbs.</span></p>
  </div>
</div>
<div class="new-clients data-container">
  <span class="title">Credits Redeemed</span>
  <div class="number-container">
    <p><span class="data"><%= @admin.credits_redeemed %></span> <span class="unit">credits</span></p>
  </div>
</div>
<div class="new-clients data-container">
  <span class="title">New Clients</span>
  <div class="number-container">
    <p><span class="data"><%= @admin.client_signups %></span> <span class="unit">clients</span></p>
  </div>
</div>
