<header>
  <h1>Edit Your Organization</h1>
  <%= render 'layouts/pagenav/account_settings' %>
</header>

<%= simple_form_for @organization do |organization| %>
  <%= organization.input :name, label: 'Name:' %>
  <%= organization.button :submit, value: "Update Organization Name", class: "primary-button" %>
<% end %>
