<h1>Locations</h1>
<% @locations.each do |location| %>
<div class="location">
  <p><%= location.name %></p>
  <p><%= location.address %></p>
  <p><%= location.latitude %></p>
  <p><%= location.longitude %></p>
</div>
<% end %>
