.devise-sessions-new{
  background: $light-gray;

  .main-content{
    background: none;
    margin: 50px auto 0;
    width: 500px;

    header{

      img{
        display: block;
        height: auto;
        margin: 0 auto;
        width: 150px;
      }
    }

    .remember_me{
      @include clearfix;
      display: block;
      margin-bottom: 15px;

      input{
        float: left;
        margin-top: 5px;
      }
      label{
        float: left;
      }
    }

    .top-bar{
      display: none;
    }
  }
}
